.business {
	background-color: #abd1c6;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	position: relative;
	margin-top: 3px;
}

.business img {
	width: 100%;
	height: 10rem;
	border-radius: 8px;
	object-fit: cover;
}

.business figcaption {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.business .columns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

/* color and font-sizing */
.leftcolumn h2 {
	color: #004643;
	font-size: 25px;
}
.rightColumn p {
	font-size: 17px;
	color: #e08600;
	display: flex; /* Use flexbox for alignment */
	align-items: center; /* Vertically center */
	justify-content: flex-end; /* Align to the right */
	gap: 5px; /* Space between text and icon */
	margin: 0;
}
.address {
	font-family: "Brawler";
	margin: 10px;
	font-size: 20px;
}
.addressLink {
	text-decoration: none;
	color: black;
}

.addressLink:hover {
	color: #e16162;
}

/* Updated styles for inline alignment */

.rightColumn .reviewCount {
	color: #e16162;
}

.reviewCount {
	color: #e16162;
}

/* alignment */
.rightColumn {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	margin-top: auto;
	/* margin-top: ; */
}

@media (min-width: 320px) and (max-width: 480px) {
	.business {
		margin: 10px auto;
	}

	.business img {
		width: 100%; /*make image full width */
		height: auto;
	}

	.leftcolumn h2 {
		font-size: 20px;
	}

	.rightColumn p {
		font-size: 15px;
	}

	.address {
		font-size: 18px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.business h2 {
		font-size: 20px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.business h2 {
		font-size: 20px;
	}
}
